// Pledge modal on tablet and mobile
.modal__content {
  @media only screen and (max-width: $bp-large){
    width: 70vw !important;
  }
  @media only screen and (max-width: $bp-small){
    width: 90vw !important;
  }
  & h3 {
    font-size: 2.2rem;
  }
  & p {
    font-size: 1.4rem;
    color: 'hsl(0, 0%, 48%)';
  }
}